@import '../../../styles/breakpoints';
@import '../../../styles/sizes';
@import '../../../styles/fonts/font-awesome';

.options {
  display: flex;
  flex-direction: row;
  margin-bottom: $baseline * 1.5;

  @include bp-sm-max {
    fc-dropdown {
      flex-grow: 1;
    }
  }
}

button {
  height: 38px;
  margin-left: 2px;
  border-radius: 2px;
}
