<main>
  <h1>Duell-Bilanz</h1>
  <div *ngIf="memberDropdownOptions | async as memberDropdownOptions" class="members">
    <fc-dropdown name="memberId1" placeholder="Spieler auswählen" [options]="memberDropdownOptions" [value]="duelMemberId1 | async" (optionSelected)="selectMember1($event)"></fc-dropdown>
    <span class="vs">vs</span>
    <fc-dropdown name="memberId2" placeholder="Spieler auswählen" [options]="memberDropdownOptions" [value]="duelMemberId2 | async" (optionSelected)="selectMember2($event)"></fc-dropdown>
  </div>
  <fc-loading-spinner *ngIf="(duelMemberId1 | async) && (duelMemberId2 | async) && ((duelMemberId1 | async) !== (duelMemberId2 | async)) && !(displayedDuel | async)"></fc-loading-spinner>
  <ng-container *ngIf="displayedDuel | async as displayedDuel">
    <h2>Statistik</h2>
    <ul>
      <li>Gesamt: {{displayedDuel.matches.length}} Spiele, {{displayedDuel.totalGoals}} Tore</li>
      <li>Siege {{displayedDuel.memberName1}}: {{displayedDuel.wins1}}</li>
      <li>Unentschieden: {{displayedDuel.draws}}</li>
      <li>Siege {{displayedDuel.memberName2}}: {{displayedDuel.wins2}}</li>
      <li>{{displayedDuel.memberName1}} schoss bisher: {{displayedDuel.totalGoals1}} Tore</li>
      <li>{{displayedDuel.memberName2}} schoss bisher: {{displayedDuel.totalGoals2}} Tore</li>
      <li>
        Durchschn. Ergebnis:
        <ng-container *ngIf="displayedDuel.averageGoals1">{{displayedDuel.averageGoals1}} : {{displayedDuel.averageGoals2}}</ng-container>
        <ng-container *ngIf="!displayedDuel.averageGoals1">-</ng-container>
      </li>
      <li>Favorit nach Duellen: {{displayedDuel.favouriteByMatches}}, mit einer Bilanz von {{displayedDuel.favouriteByMatchesPercentageWin}}% Siegen, {{displayedDuel.favouriteByMatchesPercentageDraw}}% Unentschieden und {{displayedDuel.favouriteByMatchesPercentageLoss}}% Niederlagen</li>
      <li>Favorit nach Elo: {{displayedDuel.favouriteByElo}}, mit einer Sieges-Wahrscheinlichkeit von {{displayedDuel.favouriteByEloPercentageWin}}%</li>
    </ul>
    <ng-container *ngIf="displayedDuel.highestWin1">
      <h2>Höchster Sieg {{displayedDuel.memberName1}}</h2>
      <fc-tournament-references [tournamentReferences]="[displayedDuel.highestWin1]"></fc-tournament-references>
    </ng-container>
    <ng-container *ngIf="displayedDuel.highestWin2">
      <h2>Höchster Sieg {{displayedDuel.memberName2}}</h2>
      <fc-tournament-references [tournamentReferences]="[displayedDuel.highestWin2]"></fc-tournament-references>
    </ng-container>
    <ng-container *ngIf="displayedDuel.matches.length > 0">
      <h2>Spiele</h2>
      <fc-tournament-references [tournamentReferences]="displayedDuel.matches"></fc-tournament-references>
    </ng-container>
  </ng-container>
</main>
