<main>
  <h1>Duell-Bilanz</h1>
  <div *ngIf="memberDropdownOptions | async as memberDropdownOptions" class="members">
    <fc-dropdown name="memberId1" placeholder="Spieler auswählen" [options]="memberDropdownOptions" [value]="duelMemberId1 | async" (optionSelected)="selectMember1($event)"></fc-dropdown>
    <span class="vs">vs</span>
    <fc-dropdown name="memberId2" placeholder="Spieler auswählen" [options]="memberDropdownOptions" [value]="duelMemberId2 | async" (optionSelected)="selectMember2($event)"></fc-dropdown>
  </div>
  <ng-container *ngIf="displayedDuel | async as displayedDuel">
    <h2>Statistik</h2>
    <ul>
      <li>Gesamt: {{displayedDuel.matches.length}} Spiele, {{displayedDuel.totalGoals}} Tore</li>
      <li>Siege {{displayedDuel.memberName1}}: {{displayedDuel.wins1}}</li>
      <li>Unentschieden: {{displayedDuel.draws}}</li>
      <li>Siege {{displayedDuel.memberName2}}: {{displayedDuel.wins2}}</li>
      <li>{{displayedDuel.memberName1}} schoss bisher: {{displayedDuel.totalGoals1}} Tore</li>
      <li>{{displayedDuel.memberName2}} schoss bisher: {{displayedDuel.totalGoals2}} Tore</li>
      <li>
        Durchschn. Ergebnis:
        <ng-container *ngIf="displayedDuel.averageGoals1">{{displayedDuel.averageGoals1}} : {{displayedDuel.averageGoals2}}</ng-container>
        <ng-container *ngIf="!displayedDuel.averageGoals1">-</ng-container>
      </li>
      <li><span>Höchster Sieg {{displayedDuel.memberName1}}: <fc-duel-match [match]="displayedDuel.highestWin1"></fc-duel-match></span></li>
      <li><span>Höchster Sieg {{displayedDuel.memberName2}}: <fc-duel-match [match]="displayedDuel.highestWin2"></fc-duel-match></span></li>
      <li>Favorit: {{displayedDuel.favourite}}, mit einer Bilanz von {{displayedDuel.favouritePercentageWin}}% Siegen, {{displayedDuel.favouritePercentageDraw}}% Unentschieden und {{displayedDuel.favouritePercentageLoss}}% Niederlagen</li>
    </ul>
    <ng-container *ngIf="displayedDuel.matches.length > 0">
      <h2>Spiele</h2>
      <ul>
        <li *ngFor="let match of displayedDuel.matches"><fc-duel-match [match]="match"></fc-duel-match></li>
      </ul>
    </ng-container>
  </ng-container>
</main>
