@import '../../../styles/sizes';

.members {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: $baseline * 1.5;
}

.vs {
  margin-left: $baseline;
  margin-right: $baseline;
}
