<div class="title">
  <h2>
    <img *ngIf="memberImage" [src]="memberImage">
    <span>{{memberName ? memberName : 'Unbekannt'}}</span>
    <button class="fa fa-refresh" (click)="displayNewRandomInfo.emit()"></button>
  </h2>
</div>
<p>{{text}}</p>
<fc-youtube-video *ngIf="youtubeVideoId" [youtubeVideoId]="youtubeVideoId"></fc-youtube-video>
<div *ngIf="routeTournament" class="context">(<a [routerLink]="routeTournament">{{TOURNAMENT_CONSTANTS[tournamentType].title}} am {{tournamentDate}}, {{locationName}}</a>)</div>
