@import '../../../../styles/breakpoints';
@import '../../../../styles/sizes';
@import '../tournament.constants';

:host {
  display: block;
}

.table {
  display: flex;
  flex-direction: column;

  @media (max-width: ($breakpoint-tournament-2 - 1)) {
    font-size: 12px;
  }

  .head {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: $baseline;

    @include bp-md-max {
      margin-right: -15px;
    }

    h2 {
      flex-grow: 1;
      margin-bottom: 0;
    }

    div {
      flex: 0 0 18px;
      text-align: center;

      @media (min-width: $breakpoint-tournament-1) {
        flex-basis: 24px;
      }

      @media (min-width: $breakpoint-tournament-2) {
        flex-basis: $baseline-3;
      }
    }

    .section-start {
      @include bp-md {
        margin-left: $baseline-3;
      }
    }
  }
}

fc-tournament-group-player + fc-tournament-group-player {
  margin-top: 5px;
}
