$color-dark-grey: #111;
$color-grey: #888;
$color-light-grey: #DDD;
$color-lighter-grey: #F9F9F9;
$color-white: #FFF;

// TODO: Here?
$color-link: #0CF;
$color-link-hover: #0AF;

$color-shadow: rgba(0, 0, 0, 0.14);
$color-shadow-border: #DDD;
