<fc-tournament-match-list *ngIf="matches[MatchType.GROUP] && matches[MatchType.GROUP].length > 0" [type]="MatchType.GROUP" [matches]="matches[MatchType.GROUP]"></fc-tournament-match-list>
<fc-tournament-match-list *ngIf="matches[MatchType.QUARTERFINAL] && matches[MatchType.QUARTERFINAL].length > 0" [type]="MatchType.QUARTERFINAL" [matches]="matches[MatchType.QUARTERFINAL]"></fc-tournament-match-list>
<fc-tournament-match-list *ngIf="matches[MatchType.SEMIFINAL] && matches[MatchType.SEMIFINAL].length > 0" [type]="MatchType.SEMIFINAL" [matches]="matches[MatchType.SEMIFINAL]"></fc-tournament-match-list>
<fc-tournament-match-list *ngIf="matches[MatchType.FINAL] && matches[MatchType.FINAL].length > 0" [type]="MatchType.FINAL" [matches]="matches[MatchType.FINAL]"></fc-tournament-match-list>
