@import '../../../../styles/breakpoints';
@import '../../../../styles/sizes';

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @include bp-lg {
    justify-content: flex-end;
  }
}

img {
  flex-basis: 28px;
  height: 28px;
}

div {
  width: $baseline * 6;
  text-align: center;
}
