@import '../../../styles/colors';
@import '../../../styles/sizes';

p {
  white-space: pre-wrap;

  &:first-of-type + p {
    margin-top: calc(#{$baseline} / 2);
  }
}

.label {
  display: inline-block;
  margin-top: calc(#{$baseline} / 2);
  padding: 5px 8px;
  background: #058;
  color: $color-white;
  border-radius: 2px;
}

