@import '../../../styles/colors';
@import '../../../styles/sizes';

:host {
  display: block;
  position: relative;

  &:before {
    content: '\003E';
    position: absolute;
    top: $baseline-2;
    right: $baseline / 2;
    transform: translate(-50%, -50%) rotate(90deg) scaleY(1.75);
    pointer-events: none;
    font-family: 'Open Sans', Tahoma, sans-serif;
    font-size: 20px;
    color: $color-dark-grey;
    opacity: 0.6;
    z-index: 2;
  }
}

.placeholder {
  color: $color-grey;
}

option:not(.placeholder) {
  color: $color-dark-grey;
}
