.welcome {
  max-width: 600px;
  margin: 10px auto 40px auto;
  text-align: center;
}

.welcome p {
  margin-left: 50px;
  margin-right: 50px;
}

.teasers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}
