<div class="place">{{groupPlayer.place}}</div>
<div class="player">{{groupPlayer.playerName}}</div>
<div class="games">{{groupPlayer.games}}</div>
<div class="wins">{{groupPlayer.wins}}</div>
<div class="draws">{{groupPlayer.draws}}</div>
<div class="losses">{{groupPlayer.losses}}</div>
<div class="goalsScored">{{groupPlayer.goals_scored}}</div>
<div class="goalsObtained">{{groupPlayer.goals_obtained}}</div>
<div class="goalsDifference">{{groupPlayer.goals_difference}}</div>
<div class="points">{{groupPlayer.points}}</div>
