@import '../../../../styles/breakpoints';

:host {
  display: block;
}

h2 {
  text-align: center;

  @include bp-lg {
    text-align: right;
  }
}

li {
  display: block;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  &:before {
    display: none;
  }
}
