@import '../../../../styles/breakpoints';

:host {
  display: block;
}

h2 {
  @include bp-lg {
    text-align: right;
  }
}

li {
  margin-bottom: 5px;

  @include bp-lg {
    justify-content: flex-end;
  }

  &:before {
    display: none;
  }
}
