@import '../../../../styles/breakpoints';

:host {
  display: block;
}

h2 {
  text-align: center;

  @include bp-lg {
    text-align: right;
  }
}

li {
  display: block;
  margin-bottom: 5px;

  &:before {
    display: none;
  }
}
