@import '../../../../styles/breakpoints';
@import '../../../../styles/sizes';

:host {
  width: 100%;
}

.title {
  display: flex;
  flex-direction: row;

  img {
    height: 24px;
    margin-right: 5px;
  }
}

fc-youtube-video {
  width: 100%;
  margin-top: $baseline;

  @include bp-md {
    width: 400px;
  }
}
