@import '../../../styles/breakpoints';
@import '../../../styles/colors';
@import '../../../styles/sizes';

h1 {
  margin-bottom: 0px;
}

main {
  display: flex;
  flex-direction: column;

  @include bp-lg {
    flex-direction: row;
  }
}

.location {
  margin-bottom: $baseline-2;
}

.groups {
  max-width: 690px;
  margin-top: $baseline-2;
}

fc-tournament-group {
  margin-bottom: $baseline-2;
}

.info {
  @include bp-lg {
    flex-grow: 1;
  }
}

.matches {
  @include bp-md-max {
    margin-top: $baseline-2;
    padding-top: $baseline-2;
    border-top: 1px solid $color-light-grey;
  }

  @include bp-lg {
    flex: 0 0 250px;
    margin-left: $baseline-2;
  }
}

fc-tournament-meta-list:not(:first-of-type) {
  margin-top: $baseline-2;
  padding-top: $baseline-2;
  border-top: 1px solid $color-light-grey;
}

fc-tournament-match-list + fc-tournament-match-list {
  margin-top: 15px;
}
