<div *ngIf="displayedTournamentDetails | async as displayedTournamentDetails" class="container">
  <div class="info">
    <h1>{{displayedTournamentDetails.title}}</h1>
    <div class="location">{{displayedTournamentDetails.location}}</div>
    <fc-tournament-meta-list [metas]="displayedTournamentDetails.meta['news']"></fc-tournament-meta-list>
    <div class="groups">
      <fc-tournament-group *ngFor="let group of displayedTournamentDetails.groups" [group]="group"></fc-tournament-group>
    </div>
    <fc-tournament-meta-list *ngIf="displayedTournamentDetails.meta['match'].length > 0" title="Spiel des Abends" [metas]="displayedTournamentDetails.meta['match']"></fc-tournament-meta-list>
    <fc-tournament-meta-list *ngIf="displayedTournamentDetails.meta['goal'].length > 0" title="Tor des Abends" [metas]="displayedTournamentDetails.meta['goal']"></fc-tournament-meta-list>
    <fc-tournament-meta-list *ngIf="displayedTournamentDetails.meta['scorer'].length > 0" title="Torjäger des Abends" [metas]="displayedTournamentDetails.meta['scorer']"></fc-tournament-meta-list>
    <fc-tournament-meta-list *ngIf="displayedTournamentDetails.meta['action'].length > 0" title="Aktion des Abends" [metas]="displayedTournamentDetails.meta['action']"></fc-tournament-meta-list>
    <fc-tournament-meta-list *ngIf="displayedTournamentDetails.meta['scandal'].length > 0" title="Skandal des Abends" [metas]="displayedTournamentDetails.meta['scandal']"></fc-tournament-meta-list>
    <fc-tournament-meta-list *ngIf="displayedTournamentDetails.meta['quote'].length > 0" title="Sprüche des Abends" [metas]="displayedTournamentDetails.meta['quote']"></fc-tournament-meta-list>
  </div>
  <div class="matches">
    <fc-tournament-matches [matches]="displayedTournamentDetails.matches"></fc-tournament-matches>
  </div>
</div>
