@import './styles/breakpoints';
@import './styles/colors';
@import './styles/sizes';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: $baseline;
  background-color: #F5F5F5;
}

body, input[type=text], textarea, button {
  font-family: 'Open Sans', Tahoma, sans-serif;
  font-size: 16px;
  color: $color-dark-grey;
}

main {
  padding: $baseline-2;
  background: #FFF;
}

a {
  &, &:visited {
    color: $color-link;
    text-decoration: none;
  }

  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: $baseline;
  font-size: 24px;
  font-weight: normal;
}

h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: normal;
}

p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  flex-direction: row;

  &:not(:last-child) {
    margin-bottom: $baseline / 2;
  }

  &:before {
    content: '–';
    margin-right: $baseline;
    align-self: flex-start;
  }

  a:not(:hover) {
    &, &:visited {
      color: $color-dark-grey;
    }
  }
}

figure {
  margin: 0;
}

blockquote {
  margin: 0;
}

input[type=text], textarea, button {
  padding: $baseline;
  border: 1px solid $color-grey;
}

input[type=text], textarea {
  width: 100%;

  &:focus {
    outline: none;
    border-color: #FC0;
  }
}

textarea {
  resize: none;
  // https://stackoverflow.com/questions/47719919/how-to-remove-margin-from-the-text-area
  vertical-align: bottom;
}

button {
  padding-left: $baseline * 1.5;
  padding-right: $baseline * 1.5;
  background: #F5F5F5;
  border-color: #AAA;
  cursor: pointer;

  &:hover {
    background: #FBFBFB;
    border-color: $color-link;
    color: $color-link;
  }
}

hr {
  margin-top: $baseline-2;
  margin-bottom: $baseline-2;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: $color-light-grey;
}

dl {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

dt {
  flex-basis: 60%;
}

dd {
  margin: 0;
  flex-basis: 40%;
}

@include bp-md {
  .sm-max {
    display: none;
  }
}
