<main>
  <h1>Sonstiges</h1>
  <a routerLink="/awards">Awards</a><br>
  <a routerLink="/records">Rekorde</a><br>
  <a routerLink="/overview/actions">Übersicht Aktionen</a><br>
  <a routerLink="/overview/news">Übersicht Neuigkeiten</a><br>
  <a routerLink="/overview/scandals">Übersicht Skandale</a><br>
  <a routerLink="/overview/matches">Übersicht Spiele</a><br>
  <a routerLink="/overview/quotes">Übersicht Sprüche</a><br>
  <a routerLink="/overview/goals">Übersicht Tore</a><br>
  <a routerLink="/overview/scorers">Übersicht Torjäger</a><br>
  <a routerLink="/fact">Interessanter Fakt</a><br>
</main>
