<main *ngIf="displayedMemberDetails | async as displayedMemberDetails">
  <div class="title">
    <h1>{{displayedMemberDetails.name}}</h1>
    <div>Mitglied seit {{displayedMemberDetails.joinDate}}</div>
  </div>
  <div class="info">
    <img [src]="displayedMemberDetails.image">
    <dl>
      <dt>Turniere</dt>
      <dd>{{displayedMemberDetails.tournaments}}</dd>
      <dt>Spiele</dt>
      <dd>{{displayedMemberDetails.matches}}</dd>
      <dt>Tore</dt>
      <dd>{{displayedMemberDetails.goalsShot}}</dd>
      <dt>Gegentore</dt>
      <dd>{{displayedMemberDetails.goalsReceived}}</dd>
      <dt>Siege</dt>
      <dd>{{displayedMemberDetails.wins}}</dd>
      <dt>Unentsch.</dt>
      <dd>{{displayedMemberDetails.draws}}</dd>
      <dt>Niederl.</dt>
      <dd>{{displayedMemberDetails.losses}}</dd>
    </dl>
  </div>
  <div class="content">
    <p>{{displayedMemberDetails.description}}</p>
  </div>
</main>
