<main *ngIf="displayedMemberDetails | async as displayedMemberDetails">
  <div class="title">
    <h1>{{displayedMemberDetails.name}}</h1>
    <div>Mitglied seit {{displayedMemberDetails.joinDate}}</div>
  </div>
  <div class="info">
    <img [src]="displayedMemberDetails.image">
    <dl>
      <dt>Turniere</dt>
      <dd>{{displayedMemberDetails.tournaments}}</dd>
      <dt>Spiele</dt>
      <dd>{{displayedMemberDetails.matches}}</dd>
      <dt>Tore</dt>
      <dd>{{displayedMemberDetails.goalsShot}}</dd>
      <dt>Gegentore</dt>
      <dd>{{displayedMemberDetails.goalsReceived}}</dd>
      <dt>Siege</dt>
      <dd>{{displayedMemberDetails.wins}}</dd>
      <dt>Unentsch.</dt>
      <dd>{{displayedMemberDetails.draws}}</dd>
      <dt>Niederl.</dt>
      <dd>{{displayedMemberDetails.losses}}</dd>
    </dl>
  </div>
  <div class="content">
    <p>{{displayedMemberDetails.description}}</p>
    <dl class="rankings">
      <dt>Weltrangliste:</dt>
      <dd>{{displayedMemberDetails.latestRanking ? 'Platz ' + displayedMemberDetails.latestRanking.rank : '-'}}</dd>
      <dt>Höhepunkt:</dt>
      <dd>{{displayedMemberDetails.bestRanking ? 'Platz ' + displayedMemberDetails.bestRanking.rank + ' (' + displayedMemberDetails.bestRanking.date + ')' : '-'}}</dd>
    </dl>
    <fc-member-ranking-chart [rankings]="displayedMemberDetails.allRankings"></fc-member-ranking-chart>
    <h2>FC Awards</h2>
    <ul class="awards">
      <li *ngFor="let award of displayedMemberDetails.awards">
        <img src="assets/images/award_100.png">
        <span>{{award.title + ' ' + award.year}}</span>
      </li>
    </ul>
    <dl class="other">
      <dt>Höchster Sieg</dt>
      <dd>?</dd>
      <dt>Höchste Niederlage</dt>
      <dd>?</dd>
    </dl>
  </div>
</main>
