@import '../../../../styles/breakpoints';
@import '../../../../styles/sizes';

@include bp-sm-max {
  li:not(:last-child) {
    margin-bottom: $baseline;
  }
}

@include bp-md {
  li:before {
    align-self: center;
  }
}
